SECRET_KEY=your_django_secret_key
DEBUG="True"
POSTGRES_DB=your_db_name
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_PASSWORD=your_db_password
POSTGRES_USER=your_db_user_name
STRIPE_API_KEY=your_stripe_api_key
CELERY_BROKER_URL=your_celery_broker_url
CELERY_RESULT_BACKEND=your_celery_result_backend
EMAIL=your_email
EMAIL_PASS=your_smpt_app_password